<!DOCTYPE html>
<html en>
    <head>
        <title>NOM DE LA BANQUE</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <div style="display: inline-block; position: relative; right: 300%;">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo de la banque" style="width: 200px; height: 150px;">
            </div>
        </header>
        <div style="position: relative; top: -10%;"><marquee><center><h1>BIENVENNUE, {{ nom_utilisateur }} !</h1></center></marquee></div>
        <div class="modal" style="position: relative; top: -10%;">
            <div>
                <div class="leftside">
                    <button class="bouton" onclick="deposer()">Deposer</button><br><br>
                    <button class="bouton" onclick="retirer()">Retirer</button><br><br>
                    <button class="bouton" onclick="transferer()">Transferer</button><br><br>
                    <a href="/" class="bouton">Se deconnecter</a><br><br>
                </div>
                <div class="rightside" id="sideright">
                    <form action="/operation" method="POST">
                        <input type="text" name="valeur" id="valeur" placeholder="Entrer le montant"><br><br>
                        <div style="display: inline-block;"><input type="submit" value="Depot" name="depot-form" id="bdepot"></div>
                        <div style="display: inline-block;"><input type="submit" value="Retrait" name="retrait-form" id="bretrait"></div><br><br>
                        <input type="text" name="destinataire" id="destinataire" placeholder="Nom du destinataire"><br><br>
                        <div style="display: inline-block;"><input type="submit" value="Transfert" name="transfert-form" id="btransfert"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal1" style="position: relative; top: -10%; background-color: #96c2f3;">
            <h2>Historique des transactions</h2>
            <div id="transaction">
                <ul id="transaction-list">
                    {% for element in listes %}
                        <li>{{ element }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>